.feed{
    flex: 0.5;
    border-right: 1px solid var(--twitter-background);
    /* min-width: fit-content; */
    overflow-y: scroll;
    /* margin-left: 10px; */
}
.feed::-webkit-scrollbar{
    display: none;
}

.feed_header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border-right: 1px solid var(--twitter-background);
    border-bottom: 1px solid var(--twitter-background);
    
}

.feed_header h2{
    margin-left: 20px;
    margin-bottom: 10px;
}