.post{
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
}
.post-body img{
    border-radius: 20px;
    width: 100%;
}

.post-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.verified-icon{
    font-size: 15px !important;
    color: var(--twitter-color);
}
.post-username{
    color: gray;
    font-weight: 600;
    font-size: 14px;
}
.post-headertext h3{
    margin-bottom: 5px;
}
.post-text{
    font-size: 15px;
    margin-bottom: 10px;
}
.post-body{
    flex: 1;
    padding: 10px;
}
.post-avatar{
    padding: 10px;
}