.sidebar{
    flex: 0.3;
    /* margin-right: 20px; */
    margin-top: 20px;
    margin-left: 80px;
    border-right: 1px solid var(--twitter-background);
    
}
.twitter-icn{
    color: var(--twitter-color);
    font-size: 35px !important;
    margin-left: 20px;
    margin-bottom: 20px;
}
.twitter-icn:hover{
    border-radius: 50%;
    background-color: var(--twitter-background);
}

.tweet-btn{
    background-color: var(--twitter-color) !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
}
